<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <p id="thep">hehe</p>
        <div class="row" id="chatbox">
            <ul id="chatContent" class="list-group">
            </ul>
        </div>
        <div id="inputArea" class="row">
            <form class="form-inline">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="inputText" />
                    <button class="btn btn-success d-inline" id="send">Send</button>
                </div>

            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script type="text/javascript">
        const socket = io.connect('http://localhost:5000')
        socket.on('connect', function () {
            console.log('connected')
        })
        let userName = prompt('What is your name?')
        socket.emit("getUserName", { userName })
        socket.on("welcome", function (data) {
            const userName = data
            $('#chatContent').append("<li class = \"list-group-item list-group-item-info\">Hello " + data + "</li>")
        })
        socket.on("newUser", function (data) {
            $("#chatContent").append("<li class=\"list-group-item list-group-item-light text-right\">" + data + " joined in chatroom</li>")
        })
        $('form').submit(function (e) {
            e.preventDefault();
            $('#inputText').val('')
            return false
        })
        $('#send').click(function () {
            const content = $('#inputText').val()
            console.log('val: ', content)
            socket.emit("sendMessege", content)
        })
        socket.on('showMessage', function (data) {
            console.log('datra: ', data)
            $('#chatContent').append("<li class = \"list-group-item list-group-item-info\">You: " + data + "</li>")
        })
    </script>
</body>

</html>