<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<title>The panel</title>
</head>
<body>
	<div class="container">
		<div class="panel panel-group">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-primary">
					<div class="panel panel-heading">
						<h3>Sign in</h3>
					</div>
					<div class="panel panel-body">
						<form method="POST" action="/signin">
							<div class="alert alert-danger" style=<% if (!message.err) {%>"display: none;"<%}%>>
								<p>Error:</p>
								<span><%=message.err%></span>
							</div>
							<div class="form-group">
								<label for="username">Username:</label>
								<input type="text" class="form-control" name="username">
							</div>
							<div class="form-group">
								<label for="password">Password:</label>
								<input type="password" class="form-control" name="password">
							</div>
							<div class="form-group">
								<label for="retype">Re-type:</label>
								<input type="password" class="form-control" name="retype">
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="col-xs-2"></div>
		</div>
	</div>
</body>
</html>